@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  color: #444;
  background-color: #fff;
  padding: 8px 0px;
  border-radius: 4px;
}

option {
  background: #f8f8f8;
  color: #333;
}
